<ion-header>
  <ion-toolbar>
    <ion-title>Datos particulares del personaje buscado</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding">

  <div *ngIf="characterData" class="pokemon-detalle">
    <h2>{{ characterData.name | titlecase }}</h2>
    <img class="pokemon-img" [src]="characterData.image" alt="Imagen del personaje" />
    <p><strong>Id:</strong> {{ characterData.id }}</p>
    <p><strong>Nombre:</strong> {{ characterData.name }}</p>
    <p><strong>Status:</strong> {{ characterData.status }}</p>
    <p><strong>Especie:</strong> {{ characterData.species }}</p>
    <p><strong>Género:</strong> {{ characterData.gender }}</p>
    <p><strong>Planeta de oringen:</strong> {{ characterData.origin.name }}</p>
    <p><strong>Localización actual:</strong> {{ characterData.location.name }}</p>
    <ion-input [(ngModel)]="comentario" placeholder="Escribe comentario" fill="outline" name="comentario"></ion-input>

    <button expand="block" (click)="sendContent()">Enviar</button>

  </div>

</ion-content>