.busqueda-container {
  max-width: 400px;
  margin: 0 auto 20px auto;
}


.character-card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 12px;
  text-align: center;
  padding: 12px;
}

.character-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin: auto;
}

.gridCharacter {
  display: block;
  width: 90vw;              // ocupa el 90% del ancho de la pantalla
  max-width: 600px;         // nunca más ancho que esto
}

.gridSearchedCharacter {
  display: block;
  width: 90vw;              // ocupa el 90% del ancho de la pantalla
  max-width: 600px;         // nunca más ancho que esto
}