<ion-header>
  <ion-toolbar>
    <ion-title>Personajes de Rick & Morty</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">












  <!-- Buscador centrado -->
  <div class="busqueda-container">
    <ion-card>
      <ion-card-content>
        <ion-input
          [(ngModel)]="characterName"
          placeholder="Ingrese el nombre del personaje buscado"
          type="text">
        </ion-input>
        
        <ion-button expand="block" (click)="getCharacterData(characterName)">
          Buscar
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  <!-- Resultado del buscador -->
  <div *ngIf="characterData">
    <ion-grid style="margin: auto;" class="gridSearchedCharacter">
      <ion-row>
        <ion-col size="6" *ngFor="let character of characterData.results; let i = index">
          <ion-card class="pokemon-card">
            <!-- src="{{getImageUrl(i)}}" -->
            <img [src]="character.image" alt="{{ character.name }}" />
            <ion-card-header>
              <ion-card-title>{{ character.name | titlecase }}</ion-card-title>
              <button (click)="navigateToPage('/detalles', character)" style="background-color: yellow;" name="comentario">Ver detalles</button>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <br>
  <div style="text-align: center; margin-top: 30px; margin-bottom: 30px; background-color: black; color: white;"> <strong> Todos los personajes </strong> </div>








  <div>
  <!-- Lista de Pokémon cargados -->
    <ion-grid style="margin: auto;" class="gridCharacter">
      <ion-row>
        <ion-col size="6" *ngFor="let character of characters; let i = index">
          <ion-card class="pokemon-card">
            <!-- src="{{getImageUrl(i)}}" -->
            <img [src]="getImageUrl(i)" alt="{{ character.name }}" />
            <ion-card-header>
              <ion-card-title>{{ character.name | titlecase }}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- Scroll infinito -->
  <ion-infinite-scroll (ionInfinite)="loadCharacters($event)" threshold="100px">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando más personajes...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
