<ion-header>
  <ion-toolbar>
    <ion-title>Personajes de Rick & Morty</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">












  <!-- Buscador centrado -->
  <div class="busqueda-container">
    <ion-card>
      <ion-card-content>
        <ion-input
          [(ngModel)]="characterName"
          placeholder="Ingrese el nombre del personaje buscado"
          type="text">
        </ion-input>
        
        <ion-button expand="block" (click)="getCharacterData(characterName)">
          Buscar
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  <!-- Resultado del buscador -->
  <div *ngIf="characterData && characterData.results[0]" class="pokemon-detalle">
    <h2>{{ characterData.name | titlecase }}</h2>
    <img class="pokemon-img" [src]="characterData.results[0].image" alt="Imagen del personaje" />
    <p><strong>Status:</strong> {{ characterData.results[0].status }}</p>
    <p><strong>Especie:</strong> {{ characterData.results[0].species }}</p>
    <p><strong>Género:</strong> {{ characterData.results[0].gender }}</p>
    <p><strong>Planeta de oringen:</strong> {{ characterData.results[0].origin.name }}</p>

    <button (click)="navigateToPage('/detalles')" >Ver detalles</button>
  </div>










  <!-- Lista de Pokémon cargados -->
  <ion-grid style="margin: auto;" class="gridCharacter">
    <ion-row>
      <ion-col size="6" *ngFor="let character of characters; let i = index">
        <ion-card class="pokemon-card">
          <!-- src="{{getImageUrl(i)}}" -->
          <img [src]="getImageUrl(i)" alt="{{ character.name }}" />
          <ion-card-header>
            <ion-card-title>{{ character.name | titlecase }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Scroll infinito -->
  <ion-infinite-scroll (ionInfinite)="loadCharacters($event)" threshold="100px">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando más personajes...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
